.js_play_sound, .js_stop_sound{
  display: inline-block;
  padding: 4px 10px 2px 10px;
  border: 1px solid #efefef;
  background-color: #efefef;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 3px;
  font-family: 'anonymousregular';
  font-size: 12px;
}

.logbox{
  display: inline-block;
  padding: 4px 10px 2px 10px;
  border: 1px solid #efefef;
  background-color: #efefef;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 3px;
  font-family: 'anonymousregular';
  font-size: 12px;
}
